#main {
  margin-top: 65px;
  display: flex;

  #aside {
    width: 20%;
    min-height: 100vh;
    border-right: 1px solid var(--bg-dark-border);
    padding: 30px;

    button {
      display: block;
      font-size: 16px;
      margin-bottom: 10px;
      cursor: pointer;
      width: 100%;
      text-align: left;
      padding: 8px;
      border-radius: 50px;

      span:first-child {
        display: inline-block;
        margin-right: 10px;
        vertical-align: -1px;
      }
      &:hover {
        background: rgb(255, 255, 255);
        color: #fff;
      }
    }
  }
  #contents {
    width: 80%;
    padding: 30px;

    h2 {
      padding: 5px 0;
      margin-bottom: 10px;

      em {
        color: #ea3323;
      }
    }
  }
}

.videos__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;

  > div {
    width: 24%;
    margin-bottom: 1%;

    .box {
      padding: 10px;
    }
    .boxInfo {
      a {
        display: block;
        height: 40px;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .videoTitle {
        display: block;
      }
      .channelName {
        display: block;
      }
    }
  }
}

.videoconts {
  .container {
    width: 1500px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;

    .left {
      width: 75%;
      height: 500px;
      background: #222;

      .play {
        width: 100%;
        background: #aaa;
        position: relative;
        padding-bottom: 27.65%;

        iframe {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }

      .desc {
        width: 100%;
        height: 80px;
        margin-top: 30px;
        background: #aaa;
      }
    }

    .right {
      width: 23%;
      background: #777;
      height: 1000px;
    }
  }
}

@media (max-width: 800px) {
  .videos__inner {
    > div {
      width: 49%;
    }
  }
}
@media (max-width: 560px) {
  .videos__inner {
    > div {
      width: 100%;
    }
  }
}
